---
import author from '../images/about/Rectangle43.svg';
import { Image } from 'astro:assets';
---

<div class="w-full grid grid-cols-4 gap-4 pb-20">
	<div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
		<div class="px-[32px] pt-[32px] pb-[36px]">
			<div>
				<Image src={author} alt="author" />
			</div>
			<div class="py-[16px]">
				<h3
					class="text-[#D8D8D8] text-[16px] font-normal leading-[14px] uppercase"
				>
					Michael Stone
				</h3>
				<p class="text-[14px] text-[#797979] font-normal leading-[18px]">
					Project Manager
				</p>
			</div>
			<p class="text-[16px] text-[#D8D8D8] font-normal leading-6">
				“Mauris augue neque gravida in fermentum. Habitasse platea dictumst
				quisque sagittis purus sit amet volutpat. Libero enim sed faucibus
				turpis in. Pulvinar elementum integer enim neque volutpat ac tincidunt
				vitae semper. Aliquet eget sit amet tellus cras adipiscing enim eu.”
			</p>
		</div>
	</div>
	<div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
		<div class="px-[32px] pt-[32px] pb-[36px]">
			<div>
				<Image src={author} alt="author" />
			</div>
			<div class="py-[16px]">
				<h3
					class="text-[#D8D8D8] text-[16px] font-normal leading-[14px] uppercase"
				>
					Michael Stone
				</h3>
				<p class="text-[14px] text-[#797979] font-normal leading-[18px]">
					Project Manager
				</p>
			</div>
			<p class="text-[16px] text-[#D8D8D8] font-normal leading-6">
				“Mauris augue neque gravida in fermentum. Habitasse platea dictumst
				quisque sagittis purus sit amet volutpat. Libero enim sed faucibus
				turpis in. Pulvinar elementum integer enim neque volutpat ac tincidunt
				vitae semper. Aliquet eget sit amet tellus cras adipiscing enim eu.”
			</p>
		</div>
	</div>
	<div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
		<div class="px-[32px] pt-[32px] pb-[36px]">
			<div>
				<Image src={author} alt="author" />
			</div>
			<div class="py-[16px]">
				<h3
					class="text-[#D8D8D8] text-[16px] font-normal leading-[14px] uppercase"
				>
					Michael Stone
				</h3>
				<p class="text-[14px] text-[#797979] font-normal leading-[18px]">
					Project Manager
				</p>
			</div>
			<p class="text-[16px] text-[#D8D8D8] font-normal leading-6">
				“Mauris augue neque gravida in fermentum. Habitasse platea dictumst
				quisque sagittis purus sit amet volutpat. Libero enim sed faucibus
				turpis in. Pulvinar elementum integer enim neque volutpat ac tincidunt
				vitae semper. Aliquet eget sit amet tellus cras adipiscing enim eu.”
			</p>
		</div>
	</div>
	<div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
		<div class="px-[32px] pt-[32px] pb-[36px]">
			<div>
				<Image src={author} alt="author" />
			</div>
			<div class="py-[16px]">
				<h3
					class="text-[#D8D8D8] text-[16px] font-normal leading-[14px] uppercase"
				>
					Michael Stone
				</h3>
				<p class="text-[14px] text-[#797979] font-normal leading-[18px]">
					Project Manager
				</p>
			</div>
			<p class="text-[16px] text-[#D8D8D8] font-normal leading-6">
				“Mauris augue neque gravida in fermentum. Habitasse platea dictumst
				quisque sagittis purus sit amet volutpat. Libero enim sed faucibus
				turpis in. Pulvinar elementum integer enim neque volutpat ac tincidunt
				vitae semper. Aliquet eget sit amet tellus cras adipiscing enim eu.”
			</p>
		</div>
	</div>
</div>
