---
import squaredLogoBig from '../images/squaredLogoBig.png';
import '@fontsource/chivo-mono';
---

<div
	class="flex flex-col lg:max-w-[1920px] lg:text-[90px] font-chivo font-semibold mx-auto items-center relative mb-16 xxs:mb-8 xxxs:mb-8 overflow-hidden pb-20 xs:pb-10 xxs:pb-10 xxxs:pb-10 xxxs:mt-4 xxs:mt-4"
>
	<span
		class="-top-32 absolute w-[700px] h-[700px] rounded-[50%] bg-gradient-radial from-[#7394FF] to-transparent opacity-[16%] blur-[26px] shadow-2xl shadow-[#7394FF] z-0"
	>
	</span>
	<img
		class="pt-32 xxs:pt-12 xs:pt-24 xxxs:pt-12"
		loading="lazy"
		src={squaredLogoBig.src}
		alt="SqauredLogo"
	/>
	<div
		class="flex flex-col items-center z-10 text-[#D8D8D8] pt-10 font-chivoMono text-[4.19vw] leading-[4vw] xxxl:text-[80px] xxxl:leading-[80px] xxl:text-[4.19vw] xs:text-[6vw] xs:leading-[7.4vw] xxs:text-[6vw] xxs:leading-[7.4vw] xxxs:text-[6vw] xxxs:leading-[7.4vw]"
	>
		<div>FASHIONED FOR THE FUTURE</div>
		<div>YOURS TODAY.</div>
	</div>

	<div
		class="flex flex-row xs:flex-col xxs:flex-col xxxs:flex-col gap-6 pt-20 xxs:pt-10 xxxs:pt-10 xs:pt-10 z-10"
	>
		<a href="https://app.squaredmade.com/register">
			<button
				class="rounded-md px-12 py-4 lg:text-[20px] bg-[#174EFF] text-[#D8D8D8] font-chivoMono drop-shadow-lg"
				>Sign Up for Free</button
			>
		</a>
	</div>
</div>
