---

import raissaxs from "../images/raissaxs.svg"
import listBoardxs from "../images/listBoardxs.svg"
---

<section class="w-full text-[#D8D8D8] font-chivoMono">

<div class="relative">
  <img class="w-full" loading="lazy" src={listBoardxs.src} alt="">
  <div class=" bg-[#0C0C0C] p-[4vw] rounded-b-2xl absolute bottom-[15vw] drop-shadow-md">
    <h1 class="uppercase text-[8vw] font-semibold">list and board</h1>
    <p class="text-[3vw]">Switch between list and board layout to view work from any angle.</p>
  </div>


</div>
<div class="relative">
  <img class="w-full" loading="lazy" src={raissaxs.src} alt="">
  <div class=" bg-[#0C0C0C] p-[4vw] rounded-b-2xl absolute bottom-[10vw] drop-shadow-md">
    <h1 class="uppercase text-[8vw] font-semibold">Make it yours</h1>
    <p class="text-[3vw]">Quickly apply filters and operators to refine your issue lists and create custom views.</p>
  </div>
</div>


</section>
